
       
	<div class="span1">
        </div><!--/span -->
	<div class="span5">

  <div class="row-fluid">
  <div class="span12 hero-unit staff-box">


  <h2>
    <% if current_page?("/staff_members") %>
      <a href="#Profile<%=item.id%>" data-toggle="modal">
        <h2><%=raw item.name %></h2> 
      </a>
    <% else %>
      <a href="">
        <h2><%=raw item.name %></h2>
      </a>
    <% end %>
  </h2>

    <h2>
      <a href="#Profile<%=item.id%>" data-toggle="modal"><%= image_fu item.thumbnail,'170x170#' %></a>
      
    </h2>
  <h3>
      <%=raw item.title %>
  </h3>

	 
	<!-- Modal -->
	<div id="Profile<%=item.id%>" class="modal hide fade" tabindex="-1" data-width="700">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel"><%=raw item.name %></h3>
	</div>
	<div class="modal-body">
	  <div class="row-fluid">        
	    <div class="span4">
	      <div class="row-fluid">        
	        <div class="span12">
		  <%= image_fu item.image,'200x240#' %>
	        </div><!--/span-->
	      </div><!--/row-fluid-->
	      <div class="row-fluid">        
	        <div class="span12">
		  <h4 > <%=raw item.title %> </h4>
	        </div><!--/span-->
	      </div><!--/row-fluid-->
	    </div><!--/span-->
            <div class="span8">
	      <p align="center" > <%=raw item.bio%> </p>
	    </div>
	  </div><!--/row-fluid-->
	</div>
	</div>


  </div><!--/span-->
  </div><!--/row-fluid-->







  </div><!--/span-->



